<!DOCTYPE html>
<html ng-app="recMap">
<head>
    <title>World Recession Susceptibility Map</title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- css -->
    <link href="css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="css/style.css" rel="stylesheet" media="screen">
    <link href="css/map.css" rel="stylesheet" media="screen">
    <link href="color/default.css" rel="stylesheet" media="screen">
    <link href="css/simple-slider.css" rel="stylesheet" type="text/css">
    <link href="css/simple-slider-volume.css" rel="stylesheet" type="text/css">
</head>

<body ng-controller="dataController">
<div class="menu-area">
    <div id="dl-menu" class="dl-menuwrapper">
        <button class="dl-trigger">Open Menu</button>
        <ul class="dl-menu">
            <li>
                <a href="#intro">Top</a>
            </li>
            <li><a href="#map">Map</a></li>
            <li><a href="#details">Details</a></li>
            <li ng-controller="timeController">
                <a href="#">Year</a>
                <ul class="dl-submenu">
                    <li ng-repeat="ayear in years">
                        <a ng-click="setYear(ayear)"
                           ng-class="{ selected: checkYear(ayear) }">
                            {{ ayear }} {{ curYear }}
                        </a>
                    </li>
                </ul>
            </li>
            <li><a href="#tree"> Property Tree </a></li>
        </ul>
    </div>
</div>

<!-- intro area -->
<div id="intro">
    <div class="intro-text">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="brand">
                        <h1><a href="index.html"> Susanne </a></h1>

                        <div class="line-spacer"></div>
                        <p><span>World Recession Susceptibility Analysis (Sus-An)</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Map -->
<section id="map" class="home-section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-2 col-md-8">
                <div class="section-heading" style="margin-bottom: 5%">
                    <h2 id="chosenCountry">
                        {{ curProp() }}, {{ getCurCountry() }}, {{ curYear() }}
                    </h2>

                    <div my-search id="typeahead-search">
                        <input class="typeahead" type="text"
                               placeholder="Country, Year, or Property. Try similarTo if adventurous. ">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2" style="padding-right: 1%; text-align: right">
                <h2 style="margin-top: -5%">2000</h2>
            </div>
            <div my-slider class="col-md-8" style="padding-left: 0">
                <input type="text" id="year-slider" style="display:none">
            </div>
            <div class="col-md-2" style="text-align: left;">
                <h2 style="margin-top: -5%">2013</h2>
            </div>
        </div>
        <div id="MapContainer"></div>
        <div my-map></div>
        <div id="legendBox" class="bs-callout-info">
            <!--<h4> Legend </h4>-->
            <div class="row">
                <div class="col-md-offset-4 col-md-8" style="margin-left: 29%">
                    <div class="row">
                        <div>
                            <p id="inCallout1" class="col-md-6"> &nbsp; Similar Economies highlighted in red.
                                &nbsp; </p>
                        </div>
                        <div class="col-md-6">
                            <p id="inCallout2"> &nbsp; Chosen country highlighted in blue. &nbsp; </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Details -->

<section id="details" class="home-section bg-white">
    <div class="container">
        <div class="jumbotron">
            <h2>
                {{ curProp() }}
            </h2>

            <h2>
                <span ng-class="{ 'label label-danger': checkImpact('high'),
                                  'label label-warning': checkImpact('med'),
                                  'label label-success': checkImpact('low'),
                                  'label label-info': checkImpact('NA')
                 }"> Impact: {{ getPropExpanded(curProp())["Impact Rating"] }}
                </span>
                &nbsp; &nbsp;
                <span ng-class="{ 'label label-danger': checkDirection('INC'),
                                  'label label-success': checkDirection('DEC'),
                                  'label label-warning': checkDirection('NA')

                 }"> {{ getPropExpanded(curProp())["Impact on Susceptibility"] }} Susceptibility
                </span>
            </h2>
            <blockquote>
                <p>
                    {{ getPropExpanded(curProp())["Name"] }}
                </p>
                <small><cite>{{ getPropExpanded(curProp())["Source"] }}</cite></small>
            </blockquote>
            <p>
                {{ getPropExpanded(curProp())["Meaning"] }}
            </p>

            <p>
                <a class="btn btn-primary btn-large" href="#intro">Back to top</a>
                <a class="btn btn-primary btn-large" href="#intro">Learn More</a>
            </p>

            <p>
            <table id="propTable" class="table table-hover table-striped table-condensed">
                <thead>
                <tr>
                    <th>
                        Feature
                    </th>
                    <th>
                        Value
                    </th>
                    <td></td>
                    <th>
                        Comment
                    </th>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr class="success">
                    <td>
                        <b>High Value "Cutoff"</b>
                    </td>
                    <td>
                        {{ getPropExpanded(curProp())["HighCutoff"] }}
                    </td>
                    <td></td>
                    <td>
                        <div class="span pull-left">Maximum Value:</div>
                        <div class="span pull-right">{{ getPropExpanded(curProp())["myMax"] }}</div>
                    </td>
                    <td></td>
                </tr>
                <tr class="warning">
                    <td>
                        <b>Mean Value</b>
                    </td>
                    <td>
                        {{ getPropExpanded(curProp())["Mean"] }}
                    </td>
                    <td></td>
                    <td>
                        <div class="span pull-left">Standard Deviations:</div>
                        <div class="span pull-right">{{ getPropExpanded(curProp())["SD"] }}</div>
                    </td>
                    <td></td>
                </tr>
                <tr class="danger">
                    <td>
                        <b>Low Value Cutoff</b>
                    </td>
                    <td>
                        {{ getPropExpanded(curProp())["LowCutoff"] }}
                    </td>
                    <td></td>
                    <td>
                        <div class="span pull-left">Minimum Value:</div>
                        <div class="span pull-right">{{ getPropExpanded(curProp())["myMin"] }}</div>
                    </td>
                    <td></td>
                </tr>
                <tr class="info">
                    <td>
                        <b>Property Value for {{ getCurCountry() }} </b>
                    </td>
                    <td>
                        {{ getPropValFor(getCurCountry(), curProp(), curYear()) }}
                    </td>
                    <td>

                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section id="tree" class="home-section bg-white">
    <div class="container">
        <div class="col-md-12">
            <h2>Property Tree</h2>

            <h5>{{ curProp() }}</h5>
            <h6>Click a leaf to select it globally.</h6>

            <div my-tree class="row" id="propTree"></div>
        </div>
    </div>
</section>

<section id="country" class="home-section bg-white">
    <div class="container">
        <div class="jumbotron">
            <h2>
                {{ getCurCountry() }}
            </h2>

            <div class="row">
                <div class="btn btn-toolbar" role="group">
                    <a href="" class="btn btn-danger active" role="button">Banking</a>
                    <a href="" class="btn btn-success" role="button">Central Government</a>
                    <a href="" class="btn btn-success" role="button">Economic Structure</a>
                    <a href="" class="btn btn-warning" role="button">GDP</a>
                    <a href="" class="btn btn-danger" role="button">Manufacturing</a>
                    <a href="" class="btn btn-success" role="button">Net Exports</a>
                </div>
            </div>

            <div class="row" id="country-tables">
                <div class="col-md-6">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                Property
                            </th>
                            <th>
                                Value
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>FS.AST.DOMS.GD.ZS</td>
                            <td class="danger">-1.06</td>
                        </tr>
                        <tr>
                            <td>GC.BAL.CASH.GD.ZS</td>
                            <td class="danger">-1.06</td>
                        </tr>
                        <tr>
                            <td>GC.BAL.CASH.GD.ZS</td>
                            <td class="warning">-1.06</td>
                        </tr>
                        <tr>
                            <td>GC.BAL.CASH.GD.ZS</td>
                            <td class="success">-1.06</td>
                        </tr>
                        <tr>
                            <td>GC.BAL.CASH.GD.ZS</td>
                            <td class="danger">-1.06</td>
                        </tr>
                        <tr>
                            <td>GC.BAL.CASH.GD.ZS</td>
                            <td class="danger">-1.06</td>
                        </tr>
                        <tr>
                            <td>GC.BAL.CASH.GD.ZS</td>
                            <td class="success">-1.06</td>
                        </tr>
                        <tr>
                            <td>GC.BAL.CASH.GD.ZS</td>
                            <td class="warning">-1.06</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-offset-1 col-md-5">
                    <table class="table table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>
                                Similar Countries
                            </th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr>
                            <td>India</td>
                        </tr>
                        <tr>
                            <td>Bangladesh</td>
                        </tr>
                        <tr>
                            <td>South Africa</td>
                        </tr>
                        <tr>
                            <td>United States of America</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>

<!--<section id="graph" class="home-section bg-white">-->
<!--<div class="container">-->
<!--<div class="col-md-12">-->
<!--<h2>Similar To</h2>-->
<!--<h5>{{ getCurCountry() }} and {{ curProp() }}</h5>-->

<!--<div my-graph class="row"id="countryGraph"></div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p> Made with love at <a href="http://www.iiitd.ac.in"> IIITD </a>.</p>
            </div>
        </div>
    </div>
</footer>
</body>

<!-- js -->
<script src="js/jquery/jquery.js"></script>
<script src="js/ui/bootstrap.min.js"></script>
<script src="js/jquery/jquery.smooth-scroll.min.js"></script>
<script src="js/ui/modernizr.custom.js" rel="stylesheet"></script>
<script src="js/jquery/jquery.dlmenu.js"></script>
<script src="js/ui/wow.min.js"></script>
<script src="js/ui/custom.js"></script>
<script src="js/slider/simple-slider.min.js"></script>


<!--angular-->
<script src="js/angular/angular.min.js"></script>
<script src="js/angular/main.js"></script>
<script src="js/tree/directive.js"></script>
<script src="js/slider/slider_angular.js"></script>

<!--maps-->
<script src="js/maps/d3.min.js"></script>
<script src="js/maps/topojson.v1.min.js"></script>
<script src="js/maps/d3.map.colorlegend.js"></script>
<script src="js/maps/map_angular.js"></script>

<!--search-->
<script src="js/typeahead/typeahead.bundle.js"></script>
<script src="js/typeahead/typeahead.setup.js"></script>

</html>